doctype html
html
  head
    title  NGO Registration Form
    style.
      body{
      background: url(poverty-child-ap.jpg);
      background-size: cover;
      font-family: sans-serif;
      }
      .wrap{
      max-width: 350px;
      border-radius: 20px;
      margin:auto;
      background: rgba(0,0,0,0.8);
      box-sizing: border-box;
      padding: 40px;
      color:#fff;
      margin-top: 100px;
      }
      input[type=text],input[type=password]{
      width:100%;
      box-sizing: border-box;
      padding: 12px 5px;
      background: rgba(0,0,0,0.10);
      outline: none;
      border: none;
      border-bottom: 1px dotted #fff;
      color: #fff;
      border-radius: 5px;
      margin: 5px;
      font-weight: bold;
      }
      input[type=submit]{
      width:100%;
      box-sizing: border-box;
      padding: 10px 0;
      margin-top: 30px;
      outline: none;
      border: none;
      background: #60adde;
      border-radius: 20px;
      font-size: 20px;
      color: #fff;
      border-bottom: 1px dotted #fff;
      color: #fff;
      border-radius: 10px;
      margin: 5px;
      font-weight: bold;
      }
  body
    .wrap
      h3  Sign Up as a Food Donor
      form.Donor#Donor
        input.input(type='text', placeholder='Username', id='Username', required='')
        input.input(type='text', placeholder='Password', id='Password' ,required='')
        input.input(type='text', placeholder='Confirm Password', id='Confirm Password' ,required='')
        input.input(type='text', placeholder="Donor Name", id='Donor Name' , required='')
        input.input(type='text', placeholder='Phone Number', id ='Phone Number' required='')
        input.input(type='text', placeholder='Email ID', id ='Email Id', required='')
        input.input(type='text', placeholder='Address', id ='Address', required='')
        p(style='color:white; font-family: sans-serif') Type of Food
        select#food(name='food', style='background: transparent; color: white')
          option(value='Veg Food', style='background: transparent; color: darkslategray') Veg Food
          option(value='Halal Food', style='background: transparent; color:darkslategray') Halal Food
          option(value='Non-Beef Non Veg Food', style='background: transparent; color: darkslategray') Non-Beef Non Veg Food
          option(value='Anything', style='background: transparent; color:darkslategray') Anything
        p(style='color:white; font-family: sans-serif') Area of Service
        select#area(name='area', style='background: transparent; color: white')
          option(value='Ultadanga', style='background: transparent; color: darkslategray') Ultadanga
          option(value='Kharagpur', style='background: transparent; color: darkslategray') Kharagpur
          option(value='Belgharia', style='background: transparent; color: darkslategray') Belgharia
          option(value='Howrah', style='background: transparent; color: darkslategray') Howrah
          option(value='garia', style='background: transparent; color: darkslategray') Garia
          option(value='Garia', style='background: transparent; color: darkslategray') Dhakuria
          option(value='Diamond Harbour', style='background: transparent; color: darkslategray') Diamond Harbour
          option(value='khardah', style='background: transparent; color: darkslategray') Khardah
          option(value='Barrackpore', style='background: transparent; color: darkslategray') Barrackpore
          option(value='Sodepur', style='background: transparent; color: darkslategray') Sodepur
          option(value='Barasat', style='background: transparent; color: darkslategray') Barasat
          option(value='Ranaghat', style='background: transparent; color: darkslategray') Ranaghat
          option(value='Serampore', style='background: transparent; color: darkslategray') Serampore
          option(value='Chandannagar', style='background: transparent; color: darkslategray') Chandannagar
          option(value='Krishnanagar', style='background: transparent; color: darkslategray') Krishnanagar
          option(value='Baranagar', style='background: transparent; color: darkslategray') Baranagar
          option(value='Raiganj', style='background: transparent; color: darkslategray') Raiganj
          option(value='New Town', style='background: transparent; color: darkslategray') New Town
          option(value='Balurghat', style='background: transparent; color: darkslategray') Balurghat
          option(value='Haldia', style='background: transparent; color: darkslategray') Haldia
          option(value='Kalyani', style='background: transparent; color: darkslategray') Kalyani
        br
        br
        input.input(type='submit', value='Submit' )
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    script(src='/js/Donorsignup.js')