doctype html
html
  head
    title  NGO Registration Form
    style.
      body{
      background: url(poverty-child-ap.jpg);
      background-size: cover;
      font-family: sans-serif;
      }
      .wrap{
      max-width: 350px;
      border-radius: 20px;
      margin:auto;
      background: rgba(0,0,0,0.8);
      box-sizing: border-box;
      padding: 40px;
      color:#fff;
      margin-top: 100px;
      }
      h2{
      text-align: center;
      }
      input[type=text],input[type=password]{
      width:100%;
      box-sizing: border-box;
      padding: 12px 5px;
      background: rgba(0,0,0,0.10);
      outline: none;
      border: none;
      border-bottom: 1px dotted #fff;
      color: #fff;
      border-radius: 5px;
      margin: 5px;
      font-weight: bold;
      }
      input[type=submit]{
      width:100%;
      box-sizing: border-box;
      padding: 10px 0;
      margin-top: 30px;
      outline: none;
      border: none;
      background: #60adde;
      border-radius: 20px;
      font-size: 20px;
      color: #fff;
      border-bottom: 1px dotted #fff;
      color: #fff;
      border-radius: 10px;
      margin: 5px;
      font-weight: bold;
      }
  body
    .wrap
      h2  LOGIN
      form#login
        input.input(type='text', placeholder='Username', required='',id='UserName')
        input.input(type='text', placeholder='Password', required='', id ="Password")
        input.input(type='submit', value='SIGN IN' ,id='submit')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    script(src='/js/Userlogin.js')
