html
  head
  body
    title  NGO Registration Form
    style.
      body{
      background: url(poverty-child-ap.jpg);
      background-size: cover;
      font-family: sans-serif;
      }
      .wrap{
      max-width: 350px;
      border-radius: 20px;
      margin:auto;
      background: rgba(0,0,0,0.8);
      box-sizing: border-box;
      padding: 40px;
      color:#fff;
      margin-top: 100px;
      }
      h2{
      text-align: center;
      }
      input[type=text],input[type=password]{
      width:100%;
      box-sizing: border-box;
      padding: 12px 5px;
      background: rgba(0,0,0,0.10);
      outline: none;
      border: none;
      border-bottom: 1px dotted #fff;
      color: #fff;
      border-radius: 5px;
      margin: 5px;
      font-weight: bold;
      }
      input[type=submit]{
      width:100%;
      box-sizing: border-box;
      padding: 10px 0;
      margin-top: 30px;
      outline: none;
      border: none;
      background: #60adde;
      border-radius: 20px;
      font-size: 20px;
      color: #fff;
      border-bottom: 1px dotted #fff;
      color: #fff;
      border-radius: 10px;
      margin: 5px;
      font-weight: bold;
      }
    .wrap
      h2  Sign Up as an NGO
      h6 Password should be greater than equal to  8 but less than 12 
      form#NGO(action='#', method='post', onsubmit='return validateform();')
        input.input(type='text', placeholder='Username', required='' , id='UserName' ) 
        input.input(type='text', placeholder='Password', required='',id='Password')
        input.input(type='text', placeholder='Password', required='',id='PasswordConfirm')
        input.input(type='text', placeholder="NGO Name", required='',id='Name')
        input.input(type='text', placeholder='Phone Number', required='Phone Number' ,id='Phone')
        input.input(type='text', placeholder="Director's Name", required='',id='DirectorName')
        input.input(type='text', placeholder="Director's Phone Number", required='',id='DirectorPhone')
        input.input(type='text', placeholder='Email ID', required='',id='Email Id')
        input.input(type='text', placeholder='Address', required='',id='Address')
        input.input(type='submit', value='Submit',id='Submit')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    script(src='/js/NGOsignup.js')
    script.
      function passid_validation(passid,mx,my)
      {
      var passid_len = passid.length;
      if (passid_len == 0 ||passid_len >= my || passid_len < mx)
      {
      alert("Password should not be empty / length be between "+mx+" to "+my);
      return false;
      }
      return true;
      }
      function allLetter(uname)
      {
      var letters = /^[A-Za-z]+$/;
      if(uname.match(letters))
      {
      return true;
      }
      else
      {
      alert('Username must have alphabet characters only');
      return false;
      }
      }
      function ValidateEmail(uemail)
      {
      var mailformat = /\S+@\S+\.\S+/;
      if(uemail.match(mailformat))
      {
      return true;
      }
      else
      {
      alert("You have entered an invalid email address!");
      return false;
      }
      }
      function Validatephone(uphone)
      {
      var regx=/^(\+91[\-\s]?)?[0]?(91)?[789]\d{9}$/;
      if(uphone.match(regx))
      {
      return true;
      }
      else
      {
      alert("You have entered an invalid phone number");
      return false;
      }
      }
      function validateform()
      {
      var username = document.getElementById('UserName').value; 
      var pass = document.getElementById('Password').value;
      var confirmpass = document.getElementById('PasswordConfirm').value;
      var name = document.getElementById('Name').value;
      var phone = document.getElementById('Phone').value;
      var dirname = document.getElementById('DirectorName').value;
      var dirphone = document.getElementById('DirectorPhone').value;
      var email = document.getElementById('Email Id').value;
      if(passid_validation(pass,7,12)==false)
      {
      return false;
      }
      if(allLetter(name)==false)
      {
      return false;
      }
      if(allLetter(dirname)==false)
      {
      return false;
      }
      if(Validatephone(phone)==false)
      {
      return false;
      }
      if(ValidateEmail(email)==false)
      {
      return false;
      }
      if(Validatephone(dirphone)==false)
      {
      return false;
      }
      return true;
      }
