doctype html
html
  head
    title  NGO post need
    style.
      body{
      margin:  0;
      padding: 0;
      font-family: sans-serif;
      background: url(poverty.jpg) no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      width: 350px;
      position: absolute;
      top: 20%;
      left: 10%;
      }
      .btn,.btn2,.btn3{
      border: 0;
      background: none;
      display: block;
      margin: 10px auto;
      border:2px solid #f1c40f;
      padding: 20px 70px;
      font-size: 30px;
      outline: none;
      color: yellow;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      left:400px;
      }
      .btn4{
      border: 0;
      background: none;
      display: block;
      margin: 10px auto;
      border:2px solid #f1c40f;
      padding: 20px 70px;
      font-size: 30px;
      outline: none;
      color: yellow;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      left:900px;
      top: 100px;
      }
  body
    br
    a.input.btn(type='button', value='POST FOOD NEED', id='Need', href='/NGOpostneed') Post Food Need
    br
    a.input.btn2(type='button', value='VIEW PICKUP LIST', id='pickup', href='/ViewPickUpList') View Pickup List
    br
    a.input.btn3(type='button', value='VIEW DONATION STATUS', id ='Donation', href='/status') View Donation Status
    br
    a.input.btn4(type='button', value='LOG OUT' ,id='Logout') Log Out
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    script(src='/js/PostNeed.js')
